<h1> Edit a Tasklist Form </h1>

Put the New Tasklist form in a partial and render the partial. Then just add code to create multiple tasks within the form.

need to look at 
    adjusting strong params on controller
    accepts_nested_attributes_for on the model
    Adjusting the view to use a nested form for tasks
    maybe adjusting the routes to nest tasks within tasklists