<h1> Tasklist Hub </h1>

<%=link_to "Create a New Tasklist", new_tasklist_path(@tasklist)%><br />

<%=current_user.tasklists.each do |tasklist|%>
<ul>
<h3><%=link_to "#{tasklist.title}", tasklist_path(tasklist)%></h3>
<p><%=tasklist.description%></p>
</li>
</ul>
<%end%>
Display divs with links for each Tasklist the current user has.

